
.AboutContent p {
    font-family: monospace;
    padding: auto;
    margin: 2px 8px;
}

.contact {
    font-family: monospace;
    margin-top: 12px;
}

.contact table {
    margin: auto;
}

.contact table {
    margin: auto;
}

.support {
    font-family: monospace;
    margin-top: 12px;
}

.support table {
    margin: auto;
    text-align: center;
}

.support input {
    display: block;
    margin: 8px auto;
}

.sitehost {
    font-family: monospace;
    margin-top: 64px;
}

.sitehost img {
    margin: 0px auto;
    margin-top: 4px;
    display: block;
    border: 1px solid black;
    border-radius: 8px;
}
