
.NewsBox {
    margin: auto;
    padding: 0px 24px;
}

.NewsMajorDate {
    margin-top: 48px;
    margin-bottom: 25px;
}

.NewsMajorDate span {
    background-color: #bdae93;
    padding: 4px 12px;
    text-align: center;
    font-size: medium;
    font-family: monospace;
    color: #313131;
    background-color: #7c6f64;
    border: 2px solid #645a52;
    border-radius: 25px;
}

.NewsMajorDate h1 {
    background-color: #8a7962;
    border-radius: 25px;
    line-height: 1px;
    margin: auto;
    font-family: monospace;
    font-size: medium;
}

.NewsEntry
{
    margin: 0 4%;
    text-align: center;
}

.NewsEntry p, span
{
    text-align: left;
    margin: 6px 0px
}

.NewsEntry p {
    font-family: sans-serif;
    font-size: medium;
    color: #282828;
}

.NewsEntryDate
{
    margin-right: 10px;
    font-family: monospace;
    font-weight: bold;
    font-size: small;
    text-decoration: underline;
}

.NewsEntryLink
{
    margin-left: 8px;
    font-family: monospace;
    font-weight: bold;
    font-size: small;
    text-decoration: underline;
}

