
@import url(mainbox.css);
@import url(bodytitle.css);
@import url(nav.css);
@import url(newsbox.css);
@import url(modsbox.css);
@import url(missing_page.css);
@import url(about.css);
@import url(catshrine.css);
@import url(writings.css);
@import url(article.css);

body {
    background-color: #282828;
    font-family: sans-serif, verdana, monospace, SimSun, SimHei, WenQuanYi, Microsoft YaHei;   
    text-align: center;
    overflow: auto;
}
