<!DOCTYPE html>
<html>

<head>
  #include $includes.CommonHead
</head>

<body>
  <main>
    <div class="MainBox">
      #include $includes.TitleArea
      <div class="AboutContent">
        <p>This website is a collection of my works and news about upcoming ones.</p>
        <div class="contact">
          <table>
            <tr>
              <td>
                <p>Contact me at:</p>
              </td>
              <td>
                <p>gmail-ficusmods</p>
                <p><a href="https://www.nexusmods.com/users/73308413">nexusmods/lfkenshimods</a></p>
                <p><a href="https://github.com/ficusmods">github/ficusmods</a></p>
              </td>
              </p>
            </tr>
          </table>
        </div>
        <hr />
        <div class="sitehost">
          Site is hosted by:
          <a href="https://neocities.org/"><img src="img/neocities.png" /></a>
        </div>
        <p>website source code available <a href="">here</a></p>
      </div>
    </div>
  </main>
</body>

</html>
