<!DOCTYPE html>
<html>

<head>
    #include $includes.CommonHead
</head>

<body>
    <main>
        <div class="MainBox">
            #include $includes.TitleArea
            <div class="ArticleContent">
                <h2 class="ArticleTitle">$article.title</h1>
                <hr />
                #include $includes.content
            </div>
        </div>
    </main>
</body>

</html>