<!DOCTYPE html>
<html>

<head>
  #include $includes.CommonHead
</head>

<body>
  <main>
    <div class="MainBox">
      #include $includes.TitleArea
      <p>Pay your respects to these remarkable cat pictures.</p>
      <div class="CatPics">
      #for $pic in $catPictures
          <img src="$pic.imagePath"/>
      #end for
      </div>
    </div>
  </main>
</body>

</html>
