<!DOCTYPE html>
<html>

<head>
  #include $includes.CommonHead
</head>

<body>
  <main>
    <div class="MainBox">
      #include $includes.TitleArea
      <div class="Missing">
          <p>Looking for something?</p>
          <img src="img/missing.png">
      </div>
    </div>
  </main>
</body>

</html>
