<!DOCTYPE html>
<html>

<head>
  #include $includes.CommonHead
</head>

<body>
  <main>
    <div class="MainBox">
      #include $includes.TitleArea
      <div class="WritingsContent">
        <p><img src="img/funnycat_jab.png"/>Nothing here yet <img src="img/funnycat_sit.png"/></p>
      </div>
    </div>
  </main>
</body>

</html>
