<!DOCTYPE html>
<html>

<head>
  #include $includes.CommonHead
</head>

<body>
  <main>
    <div class="MainBox">
      #include $includes.TitleArea
      <div class="ArticleContent">
        
      </div>
    </div>
  </main>
</body>

</html>
